 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html {
   font-size: 16px;
 }

 body {
   min-height: 100vh;
   display: flex;
   background-color: rgb(33, 36, 45);
 }

 #root {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .app {
   width: 100%;
   max-width: 1400px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   border: 1px solid black;
   box-shadow: 0px 0px 15px rgb(58, 61, 75);
 }

 .navBarDiv {
   width: 100%;
   background-color: rgb(33, 36, 45);
 }

 .nav {
   padding-left: 1rem;
 }

 .nav-item {
   padding-top: 1rem;
   font-size: 1.5rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
 }

 .nav-link {
   color: rgb(248, 249, 250);
   text-decoration: none !important;
 }

 .nav-link.disabled {
   color: rgb(248, 249, 250);
 }

 .nav-link.active {
   color: rgb(58, 162, 253);
   text-decoration: underline !important;
 }

 #logo {
   width: 100px;
   height: 60px;
   padding-top: 0rem;
 }

 #welcome-message {
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   padding-top: .7rem;
   padding-left: .8rem;
 }

 .game-list {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   padding-top: 1.2rem;
   padding-left: 1.2rem;
   padding-right: 1.2rem;
   padding-bottom: 1rem;
   width: 20%;
   height: 100%;
   background-color: rgb(46, 47, 50);
   font-size: 1rem;
   border-top: .15rem solid rgb(42, 41, 41);
   border-left: .15rem solid rgb(42, 41, 41);
   border-right: .15rem solid rgb(42, 41, 41);
 }

 .game-card {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   padding-bottom: .2rem;
 }

 .game-titles {
   color: rgb(252, 252, 252);
   padding-left: .4rem;
 }

 .game-images {
   width: 2.2rem;
   height: 1.2rem;
 }

 .single-game-master-container {
   display: flex;
   flex-direction: row;
   align-self: flex-start;
   width: 100%;
   height: 100%;
 }

 .single-game-container {
   display: flex;
   flex-direction: column;
   background-color: rgb(52, 55, 61);
   width: 100%;
   height: auto;
 }

 .single-game-image {
   align-self: flex-end;
   width: 100%;
   height: 50%;
 }

 .card {
   display: flex;
   flex-direction: row;
   /* justify-content: space-around; */
   /* padding-left: 50px; */
   align-items: center;
   width: 100%;
   color: white;
   background-color: rgb(74, 79, 88);
   border-color: rgba(240, 248, 255, 0);
 }

 .single-game-details-item {
   padding-left: 7rem;
   font-size: 2rem;
   opacity: .7;
 }

 .btn.btn-primary {
   margin-left: 2rem;
   margin-top: .5rem;
   margin-bottom: .5rem;
   width: 12.5rem;
   height: 3.125rem;
   border-radius: .2rem;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   background-image: linear-gradient(to right, rgb(102, 157, 205), rgb(9, 107, 193));
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .profile-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(44, 54, 64);
 }

 .profile-header {
   padding-left: 3rem;
   display: flex;
   flex-direction: row;
   margin-right: auto;
 }

 #profilePicture {
   padding-top: 1.25rem;
   width: 10rem;
   height: 13.75rem;
 }

 .profile-name {
   padding-left: 2.5rem;
   padding-top: 1.25rem;
   font-size: 2.18rem;
   color: white;
 }

 .profile-level {
   margin-left: 31rem;
   padding-top: 1.25rem;
   font-size: 2.18rem;
   color: white;
 }

 .profile-stats {
   display: flex;
   flex-direction: row;
   opacity: .6;
   width: 98%;
   padding-left: 1.25rem;
   margin-top: 1.25rem;
   font-size: 1.5rem;
   color: white;
   background-color: rgb(42, 44, 48);
 }

 .recent-activity {
   margin-left: .8rem;
 }